<div class="container mt-5 p-5 rounded bg-white shadow ">
    <div class="row mb-2">
        <div class="col-6 text-left">
            <h3>Url providers:</h3>
        </div>
        <div class="col-6 text-right">
             <%= link_to( 'Export to CSV' ,{ :controller => :url_provider, :action => :export_to_csv, format: "csv"}, { :class => "btn btn-light" } ) %>
        </div>
    </div>
    <div class="row border-bottom border-secondary pb-2">
        <div class="col-1  text-right">
            <span class="font-weight-bold">Id</span>
        </div>
        <div class="col-3">
            <span class="font-weight-bold">Name</span>
        </div>
        <div class="col-3">
            <span class="font-weight-bold">State</span>
        </div>
        <div class="col-3">
            <span class="font-weight-bold">Urls shortened number</span>
        </div>
        <div class="col-2">
            <span class="font-weight-bold">Switch status</span>
        </div>
    </div>
    <% @url_providers.each do |provider| %>
        <div class="row hovered-row border-bottom border-secondary py-2">
            <div class="col-1 text-right">
                <span><%= provider.id %></span>
            </div>
            <div class="col-3">
                <span><%= provider.name %></span>
            </div>
            <div class="col-3">
                <span id=<%="provider-#{provider.id}-state"%>><%= provider.active ? "active" : "inactive" %></span>
            </div>
            <div class="col-3">
                <span><%= provider.links_shortened_amount %></span>
            </div>
            <div class="col-2 text-left">
                <label class="switch">
                    <%= check_box_tag "provider-#{provider.id}-switch", provider.active, provider.active, {
                        onchange: "(() => { 
                            let text = document.getElementById(`provider-#{provider.id}-state`).innerHTML
                            if (text == 'active') {
                                document.getElementById(`provider-#{provider.id}-state`).innerHTML = 'inactive'
                            } else {
                                document.getElementById(`provider-#{provider.id}-state`).innerHTML = 'active'
                            }
                        })()",
                        data: { url: url_for(action: 'toggle_state', id: provider.id,), remote: true, method: :patch },
                    } 
                    %>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    <% end %>
</div>